__pycache__
.vscode
experiments
logs
.idea
*.png
*.cfl
*.hdr
*egg-info*
recon-workspace.code-workspace
datasets/
logs/
add_all_headers.py
add_header.py
*fair_cluster*
fastmri_dirs.yaml
dataset_cache.pkl
.mypy_cache/
lightning_logs/
*.pt
build/
dist/
fastmri/_version.py
fastmri_examples/annotation/singlecoil_train/file1000001.h5
fastmri_examples/annotation/singlecoil_train/file1000000.h5
fastmri_examples/annotation/singlecoil_train/file1000002.h5
fastmri_examples/annotation/singlecoil_train/file1000003.h5
fastmri_examples/annotation/singlecoil_train/file1000004.h5
fastmri_examples/annotation/singlecoil_train/file1000005.h5
.DS_Store
